@import "tailwindcss";

@theme {
  --font-en: var(--font-poppins);
  --font-bn: var(--font-hind);
}

/* ফন্ট ক্লাস */
.font-en {
  font-family: var(--font-poppins), sans-serif;
}

.font-bn {
  font-family: var(--font-hind), sans-serif;
}

/* ডিফল্ট বডি স্টাইল */
body {
  font-family: var(--font-poppins), sans-serif;
  background-color: black;
  color: white;
}